Django
djangorestframework
psycopg2-binary
Pillow
pymongo
redis
djangorestframework
djangorestframework-simplejwt
django-rest-framework-social-oauth2
social-auth-app-django
django-storages
boto3
django-cors-headers
django-mailjet
django-rename-app